{% extends 'base.html' %}

{% block content %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
<form action = {% url 'Page:createuser' %} method = "POST" onsubmit="return validForm()" >
    <fieldset>
        {% csrf_token %}
        <label>아이디:<input type="text" name="user-name" size="12" value = {{ name }} ></label>
        <label>비밀번호:<input type="password" name="user-pw" size="12" ></label>
        <label>비밀번호 확인:<input type="password" name="user-pw-check" size="12" ></label>
        <input type="submit" value="가입">
        <div id="validation-msg"></div>
    </fieldset>
</form>

<script>
    // ID 중복 시 경고창
    {% if messages %}
        {% for message in messages %}
        alert("{{ message }}")
        {% endfor %}
    {% endif %}

    function validForm() {  // 유효성 검사
        var name = document.getElementsByName('user-name')[0].value;
        var password = document.getElementsByName('user-pw')[0].value;
        var passwordCheck = document.getElementsByName('user-pw-check')[0].value;
        var validationMsg = document.getElementById('validation-msg');

        validationMsg.innerHTML = '';

        if (name === '' || password === '' || passwordCheck === '') {
            validationMsg.innerHTML = '아이디, 비밀번호, 비밀번호 확인은 필수 입력 사항입니다.';
            return false;
        }
        
        if (password.length < 8) {
            validationMsg.innerHTML = '비밀번호는 8자리 이상이어야 합니다.';
            return false;
        }
    
        if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
            validationMsg.innerHTML = '비밀번호는 특수문자를 포함해야 합니다.';
            return false;
        }
    
        if (password !== passwordCheck) {
            validationMsg.innerHTML = '비밀번호가 일치하지 않습니다.';
            return false;
        }
    
        return true;
        
    }
</script>

{% endblock %}