.inputback{
  background-image: url('../html/static_image/background_.png');
  background-size: cover;
  background-position: center;
  background-color: #FFFAEA;
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
}

.body{
  background-image: url('../html/static_image/bh.png');
  background-size: cover;
  background-position: center;
  background-color: #FFFAEA;
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 90vh;
  /* margin-top: 80px; */
}

.body2 p{
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.body2 input{
  margin-bottom: 20px;
  height: 5vh;
  text-align: center;
  width: 20vw;
  border-radius: 5px;
  border: 1px;
}

.body2 .btndiv > button{
  width: 10vw;
  height: 5vh;
  background: #59B95F;
  color:#fff;
  font-size:16px;
  border:none;
  border-radius:15px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.body2{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 0;
}


.icon{
  background-image: url('../html/static_image/treebook2.png');
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
  object-fit: contain;
  width: 50vw;
  height: 50vh;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  position: relative;
}

/* 애니메이션 */
.animationWindow {

  /* width: 40vw; */
}

.animationWindow > div:first-child{
  width: 98.9vw;
  margin: 0 auto;
  margin-top: 80px;
  height: 88vh;
  text-align: center;
  padding-bottom: 200px;
}

.loading {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  background-color: black;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
  margin: 0px 10px
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.keywordbtn{
  background-color: #f8bd56ef;
  border: none;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0.5px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
}

.imagebtn{
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 10%;
  transform: translateX(50%);
  font-size: 20px;
  font-weight: bold;
}

.headerhover > *{
  visibility: hidden;
  opacity : 0;
  transition: opacity 1.5s ease-in-out;
}

.lessThan15 > *{
  opacity: 1;
  visibility: visible;
}

.wordimglessThanwordimg{
  display: none;
  position: absolute;
  top: 5%;
  transform: translateX(-50%);
  left: 50%;
}

.wordimg{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: block;
  height: 80px;
  color:#fff;
  font-size:16px;
  border:none;
  cursor: pointer;
  margin-bottom: 10px;
}
