* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUITE-Regular', sans-serif;
    /* border기준으로
    개발자가 생각한 사이즈와
    실제로 출력된 사이즈가
    같기 때문에 개발환경이
    편해진다. */
  }
  .btnarea > p{
    font-size: 20px;
  }

  .body{
    min-height: 100vh;
    margin-top: 80px;
    /* padding-bottom : 100px; */
    position : relative;
    background-image: url('../html/static_image/bh.png');
    background-size: cover;
    background-position: center;
    background-color: #FFFAEA;
    height: 100vh;
  }
  .title{
    padding: 20px;
    text-align: center;
    font-size: 30px
  }
  .subtitle{
    position:absolute;
    top:0;
    left:0;
    text-decoration: underline;
    text-decoration-color: #BDBDBD;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 15px;
    padding: 2%;
  }
  .btnarea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .question{
    height: 45px;
    width: 45px;
    border: none;
    background: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  }
  .qIcon{    
    height: 45px;
    width: 45px;
  }

.tooltip{
  padding: 10px;
  height: auto;
  width: 420px;
  background-color: #E6E7DE;
  z-index: 999;
  position:absolute;
  border: #BDBDBD;
  text-align: center;
  font-size: 17px;
}

  .voice{
    width: 70%;
    height: 30%;
    margin: 1% auto;
    border:#BDBDBD solid;
    border-radius:10px;
    position: relative;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .mypost{
    width: 70%;
    height: 45%;
    margin: 2% auto;
    border:#BDBDBD solid;
    border-radius:10px;
    position: relative;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .voicebtn{
    position: relative;
    width: 176px;
    height: 137px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: #BDBDBD solid 1px;
    border-radius:15px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .btnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .pencil {
    height: 45px;
    width: 45px;
    border: none;
    background: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  }
  .pencil img{
    width:13px;
    height: 13px;
  }
  .more{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding-top: 10px;
    padding-right: 20px;
  }
  .postContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .postbtn{
    position: relative;
    width: 20vw;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: #BDBDBD solid 1px;
    border-radius:15px;
    cursor: pointer;
    margin: 20px;
  }
  .postTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 17px;
  }
  .postbtn img{
    width: 70%;
    height: auto;
  }
  .top{
    padding-bottom: 50px;
  }

.btnContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pencil {
  height: 45px;
  width: 45px;
  border: none;
  background: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}
.pencil img{
  width:13px;
  height: 13px;
}
.more{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding-top: 10px;
  padding-right: 20px;
}
.postContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.postbtn{
  position: relative;
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEEEBA;
  border: #BDBDBD solid 1px;
  border-radius:15px;
  cursor: pointer;
  margin: 20px;
}
.postTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 17px;
}
.postbtn img{
  width: 70%;
  height: auto;
}
.top{
  padding-bottom: 50px;
}

.btn {
  background-color: #59B95F;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 15px 0.5px rgba(0, 0, 0, 0.2);

  font-weight: bold;
  font-size: 26px; 
  cursor: pointer;
  border:none;
  margin-top: 20px;
}
