.sectionContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../html/static_image/back2.jpg');
    background-position-x: center;
    background-size: cover;
    
}
.spanContainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
    0 0 0 8px rgba(255,255,255,0.1),
    0 0 20px rgba(255,255,255,1);
    animation: animate 3s, linear infinite;
}
.spanContainer::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    height: 1px;
    background: linear-gradient(90deg, #fff,
    transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1400px);
    }
}
.spanContainer:nth-child(1)
{
    top: 0;
    right: 0;
    animation-delay: 0;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.spanContainer:nth-child(2)
{
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.spanContainer:nth-child(3)
{
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.spanContainer:nth-child(4)
{
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.contentBox
{
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    z-index: 9999;
    align-items: center;
    text-align: center;
    position: absolute;
    color: white;
}
.imageContainer
{
    text-align: center;
    margin-bottom: 30px;
}
.titleContainer {
    margin-bottom: 10px;
}

.userContainer {
    margin-bottom: 3ch;
}

.contentContainer {
    margin-bottom: 30px;
}

.audioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2Container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../html/static_image/back3.jpg');
    background-position-x: center;
    background-size: cover;
}
.bird1 {
    position: relative;
}
#bird {
    left: 100%;
    animation: fly 10s infinite;
}
@keyframes fly {
    0%{
        left: 100%;
        top: 3px;
    }
    25%{
        top: 60px;
    }
    50%{
        top: 40px;
    }
    75%{
        top: 5px;
    }
    100%{
        left: -120px;
        top: 62px;
    }
}
.optionContainer {
    position: absolute;
    top: 15%;
    right: 25%;
    margin-top: 20px;
    color: black;
    z-index: 9999;
}